@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    background-color: #68778D;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
}

.qr-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.qr-text {
    max-width: 288px;
    width: 100%;
    text-align: center;
    padding-inline: 16px;
}

.heading {
    margin: 0 0 16px;
    color: #1F314F;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.text {
    margin: 0;
    color: #68778D;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.attribution {
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.attribution a {
    color: #D5E1EF;
}

.attribution a:hover {
    color: #20375b;
}

@media (max-width: 1440px) {
    body {
        background-position: center;
    }
}

@media (max-width: 320px) {
    .qr-container {
        width: 90%;
        height: auto;
        padding: 12px 12px 30px;
    }

    .qr-img {
        width: 100%;
        height: auto;
    }

    .qr-text {
        padding-inline: 5px;
    }

    .heading {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
        line-height: 1.3;
    }
}
